<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>List of Homework!</title>
    <link rel="stylesheet" type="text/css" href="/templates/adminhome.css">
</head>
    <div class="modal">
      <form action="/admin" class="modal-content" methods=["POST", "GET"]>
        <div class="container">
<body>
    <p style="text-align: center;"><b> List of homework </b></p>
     <form>

<table>
  <tr>
    <th>Subject</th>
    <th>Homework</th>
    <th>Details of homework</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>{{aa}}</td>
    <td>{{bb}}</td>
    <td>{{cc}}</td>
    <td>{{dd}}</td>
  </tr>
</table>

<p></p>

        <div class="wrapper">
        <button type="submit" class="submit1" style="text-align:center;">Add a new homework! ;-;</button></div>
        <div class="wrapper">
        <button type="submit" class="submit" style="text-align:center;"> There isn't much to do here, is there? Sign out!</button>
      </div>
        
    </form>

</body>

<script>
</script>
</html>
